:root {
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: white;
    height: 100vh;
    padding:-5px;
    margin:0;
    animation: bodyfadein 0.5s ease 0.2s forwards;
}

body.transition {
    animation: bodyfadeout 0.5s ease 0s forwards !important;
}

@keyframes bodyfadein {
    from {
        background-color: white;
    }
    to {
        background-color: rgb(212, 207, 228);
    }
}

@keyframes bodyfadeout {
    from {
        background-color: rgb(212, 207, 228);
    }
    to {
        background-color: white;
    }
}

.window {
    position: absolute;
    min-height: 300px;
    min-width: 200px;
    background-color: #EAE7F6;
    /*backdrop-filter: blur(30px) saturate(1.5);*/
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,.3);
    border-radius: 20px;
    animation: windowfadein 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 1 forwards;
    opacity: 0;
}

body.transition .window {
    animation: windowfadeout 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 1 forwards !important;
}

@keyframes windowfadein {
    from {
        opacity: 0;
        transform: translate(-50%,-50%) scale(0);
    }
    to {
        opacity: 1;
        transform: translate(-50%,-50%) scale(1);
    }
}

@keyframes windowfadeout {
    from {
        opacity: 1;
        transform: translate(-50%,-50%) scale(1);
    }
    to {
        opacity: 0;
        transform: translate(-50%,-50%) scale(0);
    }
}

.window .window-title {
    display: flex;
    height: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
    text-align: center;
    cursor: move;
}

.window .window-title span {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    text-align: center;
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.window-content {
    display: grid;
    grid-template-rows: 1fr 50px;
    height:calc(100% - 70px);
}

.list {
    overflow-y: auto;
    overflow-x: hidden;
}

.list-item {
    opacity: 0;
    animation: listitemin 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 1 forwards;
}

@keyframes listitemin {
    from {
        opacity: 0;
        transform: translateX(50%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.window-footer {
    display: flex;
    flex-direction: row;
    padding: 0 20px;
}

.window-footer .btn {
    height: 40px;
    margin: 5px;
    background-color: white;
    border:none;
    border-radius: 20px;
    padding: 10px 30px;
    opacity: 0;
    animation: btnin 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 1 forwards;
}

.new-project-btn {
    margin-left:auto !important;
}

.btn {
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,.3);
    transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}.btn:focus{outline:none}.btn:hover {transform: scale(1.1)}

@keyframes btnin {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
    }
}

/* List Item */
div.list-item {
    background-color: rgba(0,0,0,0);
    display: grid;
    grid-template-columns: 1fr 50px;
    padding: 20px;
}

/* List Item Title */
.top {
    font-weight: 700;
}

/* List Item Path */
.bottom {
    font-size: 16px;
}