:root {
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: rgb(212, 207, 228);
    height: 100vh;
    padding:-5px;
    margin:0;
}

.window {
    position: absolute;
    min-height: 300px;
    min-width: 200px;
    background-color: rgba(255, 255, 255, .5);
    backdrop-filter: blur(30px) saturate(1.5);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,.3);
    border-radius: 20px;
}

.window .window-title {
    display: flex;
    height: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
    text-align: center;
    cursor: move;
}

.window .window-title span {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    text-align: center;
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}